# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Lab_11.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\4 сем\Programms_4sem\УП\Lab_11\.idea\.idea.Lab_11\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
